<div class="aa-products-empty">
  <p class="aa-no-result">
    No result for query "[[ query ]]"
  </p>

  <p class="aa-see-all">
    <a href="/search?q=">
      See all products
    </a>
  </p>
</div>
