<div class="aa-product">
  <div class="aa-product-picture" style="background-image: url('[[# helpers.thumbImage ]][[/ helpers.thumbImage ]]')"></div>
  <div class="aa-product-text">
    <p class="aa-product-title">
      [[# helpers.fullHTMLTitle ]][[/ helpers.fullHTMLTitle ]]
    </p>
    <p class="aa-product-info">
      [[# product_type ]]
        [[& _highlightResult.product_type.value ]]
      [[/ product_type ]]
      [[# vendor ]]
        by [[& _highlightResult.vendor.value ]]
      [[/ vendor ]]
    </p>
    <p class="aa-product-price">
      [[# helpers.formattedPrice ]][[ price ]][[/ helpers.formattedPrice ]]
    </p>
  </div>
</div>
