<section class="main-section columns small-12 no-pad" style="margin-top: -18px;">
<div class="columns small-12 sitebody">

<div class="subscription-landing-container" data-fs-target="">
<div class="subscription-landing-section intro">
<div class="mobile subscription-landing-section-background-container">
<div class="mobile subscription-landing-section-background" style="background-image: url(//dqm6q3p11zmp0.cloudfront.net/assets/subscribe/hero-tie-dye-mb-750x917-@2x-37686e5d80088bd9404cbab5831e8709f79ba71fcdcb79fff5393a7913c93a05.jpg)"></div>
</div>
<div class="subscription-landing-section-background-container tablet">
<div class="subscription-landing-section-background tablet" style="background-image: url(//dqm6q3p11zmp0.cloudfront.net/assets/subscribe/hero-tie-dye-tb-1152x1409-@2x-e7b127a70d03868ab5046084c66426f07349dab3da38ad96ee7f32d136a3f3a2.jpg)"></div>
</div>
<div class="desktop subscription-landing-section-background-container">
<div class="desktop subscription-landing-section-background" style="background-image: url(//dqm6q3p11zmp0.cloudfront.net/assets/subscribe/hero-tie-dye-dk-2093x1256-@2x-c752cb9a536d0a4465cecd3cf1bb7f74a39b19cc3bf569ec662a1a82c610e656.jpg)"></div>
</div>
<div class="subscription-landing-section-container">
<div class="subscription-landing-section-header-container">
<div class="subscription-landing-section-header">
MeUndies Membership
</div>
</div>
<div class="subscription-landing-section-description">
The newest undies at the lowest price. Swap, skip, or cancel anytime.
</div>
<div class="subscription-landing-button">
<a class="subscription-landing-button-link" data-onboarding-cta="true" data-type="hero" href="/account">Get Started</a>
</div>

</div>
<div class="subscription-landing-section-scroll"></div>
</div>

<div class="subscription-landing-section-sub-header">
Choose from 3 plans
</div>
<div class="subscription-landing-section-plans-container">
<div class="adventurous subscription-landing-section">
<div class="mobile subscription-landing-section-background-container">
<div class="mobile subscription-landing-section-background" style="background-image: url(//dqm6q3p11zmp0.cloudfront.net/assets/subscribe/adventurous-tie-dye-mb-1140x1330-@2x-370621e4f2efad1a2a90a9e0f63fd2fd649ba2214b66319b1dca1981d702e09d.gif)"></div>
<div class="mobile subscription-landing-section-background" style="background-image: url(//dqm6q3p11zmp0.cloudfront.net/assets/subscribe/adventurous-toy-soldiers-dye-mb-1140x1330-@2x-aa8bd9c3a129ece28184e33cac652f4a7a77fb4be41df79cdc5964c9b63b8f5a.gif)"></div>
</div>
<div class="subscription-landing-section-background-container tablet">
<div class="subscription-landing-section-background tablet" style="background-image: url(//dqm6q3p11zmp0.cloudfront.net/assets/subscribe/adventurous-tie-dye-tb-2068x2101-@2x-705722e047bfecc42ac9794a5607ab38719a06b077624fac4b04c9a9aa8fd36d.gif)"></div>
<div class="subscription-landing-section-background tablet" style="background-image: url(//dqm6q3p11zmp0.cloudfront.net/assets/subscribe/adventurous-toy-soldiers-tb-2068x2101-@2x-c78ac4cc4a51f93a2c12fc16d3013d5d634cb14fb05bae0c0539ca9d726aedcb.gif)"></div>
</div>
<div class="desktop subscription-landing-section-background-container">
<div class="desktop subscription-landing-section-background" style="background-image: url(//dqm6q3p11zmp0.cloudfront.net/assets/subscribe/adventurous-tie-dye-dk-2609x1467-@2x-8ed3c76fd32c71121a6a89f107bdd0fa9cf6cd2997a270cc36d98bea20a01f40.gif)"></div>
<div class="desktop subscription-landing-section-background" style="background-image: url(//dqm6q3p11zmp0.cloudfront.net/assets/subscribe/adventurous-toy-soldiers-dk-2609x1467-@2x-93b1195d8088a50e344b6252eadb64ef0e8ad5ab3618694545129ac510cc161f.gif)"></div>
</div>
<div class="subscription-landing-section-container">
<div class="subscription-landing-section-header">
Adventurous
</div>
<div class="subscription-landing-section-description">
Show your spirit with unique, fun prints.
</div>
<div class="subscription-landing-button">
<a class="subscription-landing-button-link" data-onboarding-cta="true" data-type="adventurous" href="/account">Be Adventurous</a>
</div>

</div>
</div>

<div class="bold subscription-landing-section">
<div class="mobile subscription-landing-section-background-container">
<div class="mobile subscription-landing-section-background" style="background-image: url(//dqm6q3p11zmp0.cloudfront.net/assets/subscribe/bold-boxer-brief-green-mb-750x1330-@2x-b9391d65212abaa460523447bece90d33e33d41772bd19180dde4eb417d36909.gif)"></div>
<div class="mobile subscription-landing-section-background" style="background-image: url(//dqm6q3p11zmp0.cloudfront.net/assets/subscribe/bold-boxer-brief-red-mb-750x1330-@2x-ac232e9bc70d9c3cc1aa0d41599979fddf52811f086f1d5f8455a7f30696203c.gif)"></div>
<div class="mobile subscription-landing-section-background" style="background-image: url(//dqm6q3p11zmp0.cloudfront.net/assets/subscribe/bold-boxer-brief-blue-mb-750x1330-@2x-ab2113fddf960ce0b1948a194eaaca7b284663a70e910d2544a3afde7e28ce5e.gif)"></div>
</div>
<div class="subscription-landing-section-background-container tablet">
<div class="subscription-landing-section-background tablet" style="background-image: url(//dqm6q3p11zmp0.cloudfront.net/assets/subscribe/bold-boxer-brief-green-tb-1536x1974-@2x-528c09b40068a329c7c7f1d6fe93bab11beca39162b913113eef4c9604253801.gif)"></div>
<div class="subscription-landing-section-background tablet" style="background-image: url(//dqm6q3p11zmp0.cloudfront.net/assets/subscribe/bold-boxer-brief-red-tb-1536x1974-@2x-bdc4744fea0f933f8958c1c2fe52c9a0692c08c8f66e0ea8b31bd38a92aa9310.gif)"></div>
<div class="subscription-landing-section-background tablet" style="background-image: url(//dqm6q3p11zmp0.cloudfront.net/assets/subscribe/bold-boxer-brief-blue-tb-1536x1974-@2x-c9ad368fb394c78f794cc95c05583892685c34082b480b44bd9893e64b1b7f8f.gif)"></div>
</div>
<div class="desktop subscription-landing-section-background-container">
<div class="desktop subscription-landing-section-background" style="background-image: url(//dqm6q3p11zmp0.cloudfront.net/assets/subscribe/bold-boxer-brief-green-dk-1551x1467-@2x-ac3cfa06c6931d924d5bb168ef891f37ce7168d85d2c0995cc9b9a8ec773ca4c.gif)"></div>
<div class="desktop subscription-landing-section-background" style="background-image: url(//dqm6q3p11zmp0.cloudfront.net/assets/subscribe/bold-boxer-brief-red-dk-1551x1467-@2x-06ce4d7c600514f88e8a85f531d2c0ea589462d62693a425b912c939ca6084c9.gif)"></div>
<div class="desktop subscription-landing-section-background" style="background-image: url(//dqm6q3p11zmp0.cloudfront.net/assets/subscribe/bold-boxer-brief-blue-dk-1551x1467-@2x-3fbcffc201a34d4a8dc3da82f7c3d79ad698d649650cc28611dab81065ff9d12.gif)"></div>
</div>
<div class="subscription-landing-section-container">
<div class="subscription-landing-section-header">
Bold
</div>
<div class="subscription-landing-section-description">
Make a statement with bold, solid colors.
</div>
<div class="subscription-landing-button">
<a class="subscription-landing-button-link" data-onboarding-cta="true" data-type="bold" href="/account">Go Bold</a>
</div>

</div>
</div>

<div class="classic subscription-landing-section">
<div class="mobile subscription-landing-section-background-container">
<div class="mobile subscription-landing-section-background" style="background-image: url(//dqm6q3p11zmp0.cloudfront.net/assets/subscribe/classic-boxer-mb-750x1228-@2x-f6f1e7e140eb0178cb0ad07481f6ddc53c1ccbc05313246fc898a173f18f83df.gif)"></div>
<div class="mobile subscription-landing-section-background" style="background-image: url(//dqm6q3p11zmp0.cloudfront.net/assets/subscribe/classic-thong-mb-750x1228-@2x-8979981805eddfc149755bb8629c69080ee78e1d7e0b6bb2253f0860d942e559.gif)"></div>
</div>
<div class="subscription-landing-section-background-container tablet">
<div class="subscription-landing-section-background tablet" style="background-image: url(//dqm6q3p11zmp0.cloudfront.net/assets/subscribe/classic-boxer-tb-1536x1974-@2x-39b1ed003a4b7c1a85b3edeb1595afcf8ad78edceadafe3a28906865eb37e351.gif)"></div>
<div class="subscription-landing-section-background tablet" style="background-image: url(//dqm6q3p11zmp0.cloudfront.net/assets/subscribe/classic-thong-tb-1536x1974-@2x-1b8bd2a5de63817231a229403bc8ad8aa96da67c073c848ada1528021346f17f.gif)"></div>
</div>
<div class="desktop subscription-landing-section-background-container">
<div class="desktop subscription-landing-section-background" style="background-image: url(//dqm6q3p11zmp0.cloudfront.net/assets/subscribe/classic-boxer-dk-1737x1478-@2x-ca225297c121f82d6af6500ced75ff2e35fd8493a9fc88478d199e988055ff5d.gif)"></div>
<div class="desktop subscription-landing-section-background" style="background-image: url(//dqm6q3p11zmp0.cloudfront.net/assets/subscribe/classic-thong-dk-1737x1478-@2x-0632b17411dab84e47da6d60c20a9341fc4003dd6379a73d488719b9a796c4da.gif)"></div>
</div>
<div class="subscription-landing-section-container">
<div class="subscription-landing-section-header">
Classic
</div>
<div class="subscription-landing-section-description">
Keep it timeless with neutrals like black and grey.
</div>
<div class="subscription-landing-button">
<a class="subscription-landing-button-link" data-onboarding-cta="true" data-type="classic" href="/account">Stay Classic</a>
</div>

</div>
</div>

</div>
<div class="subscription-landing-benefits">
<div class="subscription-landing-benefits-header">
Enjoy member benefits
</div>
<div class="subscription-landing-benefits-container savings">
<div class="subscription-landing-benefits-benefit">
<div class="subscription-landing-benefits-icon"></div>
<div class="subscription-landing-benefits-text-container">
<div class="subscription-landing-benefits-title">
Feels Good to Belong
</div>
<div class="subscription-landing-benefits-description">
Get exclusive pricing, merchandise, and more when you become a member.
</div>
</div>
</div>
<div class="subscription-landing-benefits-benefit choices">
<div class="subscription-landing-benefits-icon"></div>
<div class="subscription-landing-benefits-text-container">
<div class="subscription-landing-benefits-title">
Make It Work for You
</div>
<div class="subscription-landing-benefits-description">
Switch between membership plans, cancel, or skip a month at any time.
</div>
</div>
</div>
<div class="subscription-landing-benefits-benefit shipping">
<div class="subscription-landing-benefits-icon"></div>
<div class="subscription-landing-benefits-text-container">
<div class="subscription-landing-benefits-title">
Keep It Fresh
</div>
<div class="subscription-landing-benefits-description">
Take your undies from OK to Oh, Baby! A new pair every month will give you the collection of your dreams.
</div>
</div>
</div>
</div>
</div>

<div class="subscription-landing-questions">
<div class="subscription-landing-questions-container">
<div class="subscription-landing-questions-header">
Questions and answers
</div>
<div class="subscription-landing-questions-inner">
<div class="subscription-landing-questions-question">
<div class="subscription-landing-questions-question-title">
How does this work?
</div>
<div class="subscription-landing-questions-answer">
Select your style, size and plan (Classic, Bold or Adventurous) and we’ll pick undies each month that we think you’ll swoon for. You’ll build a vibrant undie collection, enjoy the convenience of being a member, and save money while you’re at it.
</div>
</div>
<div class="subscription-landing-questions-question">
<div class="subscription-landing-questions-question-title">
Can I change what plan I'm on?
</div>
<div class="subscription-landing-questions-answer">
Absolutely. You have the option to switch between plans so you can match your undies to your mood every month. Members also have the option to skip a month and not be charged. Membership automatically resumes the following month.
</div>
</div>
<div class="subscription-landing-questions-question">
<div class="subscription-landing-questions-question-title">
Where do you ship?
</div>
<div class="subscription-landing-questions-answer">
We ship to everywhere in the world including PO Boxes and all military locations via their APO, FPO, and DPO addresses.
</div>
</div>
<div class="subscription-landing-questions-question">
<div class="subscription-landing-questions-question-title">
Can I have more than one membership pair of undies?
</div>
<div class="subscription-landing-questions-answer">
You sure can. Members can have multiple subscription pairs on one membership, allowing them to select from all of our styles and plans. If you have more than one subscription pair with the same plan, we’ll make sure you receive matching pairs.
</div>
</div>
</div>
</div>
<div class="subscription-landing-button">
<a class="subscription-landing-button-link dark" data-onboarding-cta="true" data-type="footer" href="/account">Join Now</a>
</div>

<br>
<a class="subscription-landing-more-questions" href="#" target="_blank">Have more questions?
</a></div>

</div>

</div>
</section>

<style>
  
  .subscription-landing-button a {
  	text-decoration: none;
  }
  
  @media only screen and (min-width: 90.063em) {
    .column, .columns {
        position: relative;
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
    }
  }
  
  .no-pad {
      padding: 0px !important;
  }  
  
  .sitebody {
      background-color: white;
      padding: 0px;
  }
  
  .subscription-landing-section {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      box-orient: vertical;
      -webkit-box-direction: reverse;
      -moz-box-direction: reverse;
      box-direction: reverse;
      -webkit-flex-direction: column-reverse;
      -moz-flex-direction: column-reverse;
      flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
      position: relative;
      height: calc(95vh);
      min-height: 500px;
      max-height: 620px;
      text-align: center;
      color: white;
  }  

  .subscription-landing-section.intro {
    position: relative;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    background-color: #69cdff;
    height: calc(100vh - 100px);
  }
  
  .subscription-landing-section-background {
      position: absolute;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 100%;
      height: 100%;
  }   
  
  @media screen and (min-width: 641px) {
    .subscription-landing-section {
        max-height: initial;
    }
  }
  
  .subscription-landing-section-background-container {
      display: none;
      position: absolute;
      top: 0;
      width: 100%;
      height: 85%;
  }
  
  @media (max-width: 640px) {
      .subscription-landing-section-background {
          background-size: cover
      }
  }
  .intro .subscription-landing-section-background {
      background-position: center top;
      background-size: contain
  }
  @media (min-width: 641px) and (max-width: 1024px) {
      .intro .subscription-landing-section-background {
          background-position: center
      }
  }
  @media (min-width: 1025px) {
      .intro .subscription-landing-section-background {
          background-position: center top
      }
  }  
  
  .classic .subscription-landing-section-background, .adventurous .subscription-landing-section-background {
      opacity: 0;
  }  
  
  .adventurous.shown .subscription-landing-section-background {
      animation: slideUp 1s 1;
      -webkit-animation: slideUp 1s 1;
      opacity: 1;
  }  
  
  .bold .subscription-landing-section-background {
      opacity: 0;
  }  
  .bold .subscription-landing-section-background:nth-child(1) {
      transform: translateX(-10%);
  }  
  .bold.shown .subscription-landing-section-background:nth-child(1) {
      animation: fanLeft .6s 1;
      -webkit-animation: fanLeft .6s 1;
      transform: translateX(0%);
      opacity: 1;
  }  

  .bold .subscription-landing-section-background:nth-child(2) {
      transform: translateX(-7%);
  }  
  .bold.shown .subscription-landing-section-background:nth-child(2) {
      animation: fanMid .6s 1;
      -webkit-animation: fanMid .6s 1;
      transform: translateX(0%);
      opacity: 1;
  }  
  
  .bold .subscription-landing-section-background:nth-child(3) {
      transform: translateX(-4%);
  }  
  .bold.shown .subscription-landing-section-background:nth-child(3) {
      animation: fanRight .6s 1;
      -webkit-animation: fanRight .6s 1;
      transform: translateX(0%);
      opacity: 1;
  }  
  
  .classic.shown .subscription-landing-section-background:nth-child(1) {
      animation: leftFade 1s 1;
      -webkit-animation: leftFade 1s 1;
      opacity: 1;
  } 
  .classic.shown .subscription-landing-section-background:nth-child(2) {
      animation: rightFade 1s 1;
      -webkit-animation: rightFade 1s 1;
      opacity: 1;
  }  
  
  @media (max-width: 640px) {
      .subscription-landing-section-background-container.mobile {
          display: block
      }
  }
  @media (min-width: 641px) and (max-width: 1024px) {
      .subscription-landing-section-background-container.tablet {
          display: block
      }
  }
  
  @media screen and (min-width: 1025px) {
    .subscription-landing-section-background-container.desktop {
        display: block;
    }  
  }
  
  @media screen and (min-width: 1025px) {
    .intro .subscription-landing-section-background {
        background-position: center top;
    }  
  }
  .intro .subscription-landing-section-background {
      background-position: center top;
      background-size: contain;
  }  
  
  .subscription-landing-section-container {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      flex-direction: column;
      -ms-flex-direction: column;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      box-pack: center;
      -webkit-justify-content: space-around;
      -moz-justify-content: space-around;
      -ms-justify-content: space-around;
      -o-justify-content: space-around;
      justify-content: space-around;
      -ms-flex-pack: center;
      z-index: 1;
      margin-bottom: calc(10vh);
  }
  
  .intro .subscription-landing-section-container {
      -webkit-box-pack: center;
      -moz-box-pack: center;
      box-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      display: block;
      margin: 0;
  }  
  
  .subscription-landing-section-header-container {
      font-family: "SharpSansNo1-Bold", Helvetica, sans-serif;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      position: relative;
  }  
  
  .subscription-landing-section-header {
      font-family: "SharpSansNo1-Bold", Helvetica, sans-serif;
      -webkit-font-smoothing: antialiased;
      margin: 0;
      letter-spacing: 1px;
      color: white;
      font-weight: bold;
      font-size: calc(90px + (100 - 90) * ( (100vw - 640px) / (1024 - 640) ));
  }  
  
   .intro .subscription-landing-section-header {      
      font-size: calc(60px + (90 - 70) * ( (100vw - 640px) / (1024 - 640) ));
  } 
  
  .intro .subscription-landing-section-description {
      margin-top: 20px;
      margin-bottom: 50px;
  }  
  
  .subscription-landing-section-description {
      font-family: "ProximaNova-Semibold", Helvetica, sans-serif;
      -webkit-font-smoothing: antialiased;
      margin: 20px auto;
      width: 70%;
      line-height: normal;
      font-size: calc(18px + (20 - 18) * ( (100vw - 640px) / (1024 - 640) ));
  }  
  
  .subscription-landing-button {
      -webkit-align-self: center;
      -moz-align-self: center;
      align-self: center;
      -ms-flex-item-align: center;
      font-family: "SharpSansNo1-Bold", Helvetica, sans-serif;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      cursor: pointer;
      font-size: 19px;
      text-transform: uppercase;
      letter-spacing: 2px;
  }  
  
  .subscription-landing-button-link {
      border: 3px solid white;
      color: white;
      display: inline-block;
      height: 100%;
      padding: 19px 40px;
      width: 100%;
      text-decoration: none;
  }  
  
  .subscription-landing-button-link:hover, .subscription-landing-button-link:active, .subscription-landing-button-link:focus {
      background-color: black;
      border: 3px solid black;
      color: white;
  }  
  
  .subscription-landing-section-scroll {
      position: absolute;
      bottom: 20px;
      background-image: url("https://dqm6q3p11zmp0.cloudfront.net/assets/subscribe/down-arrow-b22d4e3be63875cefb36367a141e4d26f15025137232147de72a68aca135e779.png");
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      width: 100%;
      height: 10vh;
      bottom: 0;
  }
    
  .subscription-landing-section-sub-header {
      font-family: "SharpSansNo1-Bold", Helvetica, sans-serif;
      -webkit-font-smoothing: antialiased;
      position: absolute;
      z-index: 1;
      padding: 40px 0;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      color: white;
      font-size: 18px;
      letter-spacing: .05em;
  }
  
  @media screen and (min-width: 641px) {
    .subscription-landing-section-sub-header {
        padding-top: 75px;
        font-size: 24px;
        letter-spacing: .1em;
    }  
  }  
  
  .subscription-landing-section.adventurous {
      background-color: #69cdff;
  }
    
  .adventurous .subscription-landing-section-header {
      font-size: calc(60px + (90 - 70) * ( (100vw - 640px) / (1024 - 640) ));
  }  
  
  .subscription-landing-section.bold {
      background-color: #f7d668;
  } 
  
  .subscription-landing-section.classic {
      background-color: #1e516d;
  } 
  
  .subscription-landing-benefits {
      text-align: center;
  }  
  
  .subscription-landing-benefits-header {
      font-family: "SharpSansNo1-Bold", Helvetica, sans-serif;
      -webkit-font-smoothing: antialiased;
      margin: 60px auto;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #fa3249;
      font-size: 18px;
      font-weight: bold;
  }
  
  .subscription-landing-benefits-container {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      flex-direction: column;
      -ms-flex-direction: column;
  } 

  @media screen and (min-width: 641px)
	{
    .subscription-landing-benefits-container {
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        box-orient: horizontal;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        flex-direction: row;
        -ms-flex-direction: row;
        margin: 0 auto 50px;
        max-width: 1200px;
    }
  }    
  
  .subscription-landing-benefits-benefit {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -moz-box-orient: horizontal;
      box-orient: horizontal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      flex-direction: row;
      -ms-flex-direction: row;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      box-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      position: relative;
      margin: 0 auto 50px;
      width: 100%;
      text-align: left;
  }  
  
  
  @media screen and (min-width: 641px){
    .subscription-landing-benefits-benefit {
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        flex-direction: column;
        -ms-flex-direction: column;
        margin-bottom: auto;
        width: calc(100% / 3);
        min-width: inherit;
        text-align: center;
    }  
  }
  
  .subscription-landing-benefits-icon {
    background-repeat: no-repeat;
    background-size: contain;
    width: 120px;
    height: 75px;
  }
  
  @media (min-width: 641px) {
    .subscription-landing-benefits-icon {
        background-position: center;
        width: 100%;
        height: 15vw;
        max-height: 200px;
    }  
  }
  
  .savings .subscription-landing-benefits-icon {
      background-image: url('https://dqm6q3p11zmp0.cloudfront.net/assets/subscribe/pig-icon-3e2bb594c64092c94078582990b1d63e322045f8468d926c57c8a1d32c6da66e.png');
  }  
  
  .subscription-landing-benefits-text-container {
      max-width: 60%;
  }  
  
  @media (min-width: 641px)
  {
    .subscription-landing-benefits-text-container {
        margin: 0 auto;
        min-width: inherit;
        max-width: 300px;
    }
  }
  
  .subscription-landing-benefits-title {
      font-family: "SharpSansNo1-Bold", Helvetica, sans-serif;
      -webkit-font-smoothing: antialiased;
      margin-bottom: 5px;
      letter-spacing: 1px;
      color: #565656;
      font-size: 18px;
      font-weight: bold;
  }
  
  @media (min-width: 641px)
  {	
    .subscription-landing-benefits-title {
        margin: 5px 0;
    }
  }
  
  .subscription-landing-benefits-description {
      font-family: "ProximaNova-Regular", Helvetica, sans-serif;
      -webkit-font-smoothing: antialiased;
      line-height: 24px;
      color: #565656;
      font-size: 17px;
  }
  
  @media (min-width: 641px)
  {
    .subscription-landing-benefits-description {
      margin: 0 auto;
      width: 90%;
  	}
  }
  
  .choices .subscription-landing-benefits-icon {
      background-image: url('https://dqm6q3p11zmp0.cloudfront.net/assets/subscribe/love-icon-5b62f55d97276f80ef695f451dd23f2b88aff614e72b07b2252ab4c031cbda17.png');
  }  
  
  .shipping .subscription-landing-benefits-icon {
      background-image: url('https://dqm6q3p11zmp0.cloudfront.net/assets/subscribe/fresh-icon-b4c959ea7a0ebbe279d3fdde5089367abbd9ea3857fd65408372d9e466cb997d.png');
  }  
  
  .subscription-landing-questions {
      text-align: center;
      margin-bottom: 70px;
  } 
  
  .subscription-landing-questions-container {
      margin-bottom: 50px;
      text-align: center;
  }  
  
  .subscription-landing-questions-header {
      font-family: "SharpSansNo1-Bold", Helvetica, sans-serif;
      -webkit-font-smoothing: antialiased;
      margin: 80px auto 40px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #fa3249;
      font-size: 18px;
      font-weight: bold;
  }  

  .subscription-landing-questions-inner {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      flex-direction: column;
      -ms-flex-direction: column;
      -webkit-box-lines: multiple;
      -moz-box-lines: multiple;
      box-lines: multiple;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin: 0 auto;
      padding: 0 10vw;
  }  
    
  @media (min-width: 641px)
  {
    .subscription-landing-questions-inner {
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        box-orient: horizontal;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        flex-direction: row;
        -ms-flex-direction: row;
        margin: auto;
        padding: 0;
        max-width: 1170px;
    }
  }
  
  @media (min-width: 641px)
  {
    .subscription-landing-questions-question {
        padding: 0 5%;
        width: 50%;
    }
  }
  
  .subscription-landing-questions-question-title {
      font-family: "SharpSansNo1-Bold", Helvetica, sans-serif;
      -webkit-font-smoothing: antialiased;
      margin-bottom: 10px;
      text-align: left;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #565656;
      font-size: 14px;
      font-weight: bold;
  }  
  
  .subscription-landing-questions-answer {
      font-family: "ProximaNova-Regular", Helvetica, sans-serif;
      -webkit-font-smoothing: antialiased;
      margin-bottom: 40px;
      text-align: left;
      line-height: 24px;
      color: #565656;
      font-size: 17px;
  }  
  
   .subscription-landing-button {
      -webkit-align-self: center;
      -moz-align-self: center;
      align-self: center;
      -ms-flex-item-align: center;
      font-family: "SharpSansNo1-Bold", Helvetica, sans-serif;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      cursor: pointer;
      font-size: 19px;
      text-transform: uppercase;
      letter-spacing: 2px;
   }
  
  .subscription-landing-button-link {
      border: 3px solid white;
      color: white;
      display: inline-block;
      height: 100%;
      padding: 19px 40px;
      width: 100%;
  }  

  .subscription-landing-button-link.dark {
      border: 3px solid black;
      color: black;
  }  
  
  .subscription-landing-button-link:hover, .subscription-landing-button-link:active, .subscription-landing-button-link:focus {
      background-color: black;
      border: 3px solid black;
      color: white;
  }  
  
  .subscription-landing-button-link.dark:hover {
      color: white;
  }  
  
  .subscription-landing-more-questions {
      display: inline-block;
      margin: 20px 0;
      color: #fa3249;
  }  

  a:hover {
      color: #58c8ff;
  }  
  
  a {
      text-decoration: none;
      line-height: inherit;
  }  
  
@-webkit-keyframes slideUp {
    0% {
        transform: rotate(10deg) translateY(30%);
        -ms-transform: rotate(10deg) translateY(30%);
        -webkit-transform: rotate(10deg) translateY(30%);
        opacity: 0
    }
    100% {
        transform: rotate(0deg) translateY(0%);
        -ms-transform: rotate(0deg) translateY(0%);
        -webkit-transform: rotate(0deg) translateY(0%);
        opacity: 1
    }
}
@-moz-keyframes slideUp {
    0% {
        transform: rotate(10deg) translateY(30%);
        -ms-transform: rotate(10deg) translateY(30%);
        -webkit-transform: rotate(10deg) translateY(30%);
        opacity: 0
    }
    100% {
        transform: rotate(0deg) translateY(0%);
        -ms-transform: rotate(0deg) translateY(0%);
        -webkit-transform: rotate(0deg) translateY(0%);
        opacity: 1
    }
}
@keyframes slideUp {
    0% {
        transform: rotate(10deg) translateY(30%);
        -ms-transform: rotate(10deg) translateY(30%);
        -webkit-transform: rotate(10deg) translateY(30%);
        opacity: 0
    }
    100% {
        transform: rotate(0deg) translateY(0%);
        -ms-transform: rotate(0deg) translateY(0%);
        -webkit-transform: rotate(0deg) translateY(0%);
        opacity: 1
    }
} 
  
@-webkit-keyframes leftFade {
    0% {
        transform: translateY(100px) translateX(-100px);
        -ms-transform: translateY(100px) translateX(-100px);
        -webkit-transform: translateY(100px) translateX(-100px);
        opacity: 0
    }
    100% {
        transform: translateY(0%) translateX(0%);
        -ms-transform: translateY(0%) translateX(0%);
        -webkit-transform: translateY(0%) translateX(0%);
        opacity: 1
    }
}
@-moz-keyframes leftFade {
    0% {
        transform: translateY(100px) translateX(-100px);
        -ms-transform: translateY(100px) translateX(-100px);
        -webkit-transform: translateY(100px) translateX(-100px);
        opacity: 0
    }
    100% {
        transform: translateY(0%) translateX(0%);
        -ms-transform: translateY(0%) translateX(0%);
        -webkit-transform: translateY(0%) translateX(0%);
        opacity: 1
    }
}
@keyframes leftFade {
    0% {
        transform: translateY(100px) translateX(-100px);
        -ms-transform: translateY(100px) translateX(-100px);
        -webkit-transform: translateY(100px) translateX(-100px);
        opacity: 0
    }
    100% {
        transform: translateY(0%) translateX(0%);
        -ms-transform: translateY(0%) translateX(0%);
        -webkit-transform: translateY(0%) translateX(0%);
        opacity: 1
    }
}
@-webkit-keyframes rightFade {
    0% {
        transform: translateY(100px) translateX(100px);
        -ms-transform: translateY(100px) translateX(100px);
        -webkit-transform: translateY(100px) translateX(100px);
        opacity: 0
    }
    100% {
        transform: translateY(0%) translateX(0%);
        -ms-transform: translateY(0%) translateX(0%);
        -webkit-transform: translateY(0%) translateX(0%);
        opacity: 1
    }
}
@-moz-keyframes rightFade {
    0% {
        transform: translateY(100px) translateX(100px);
        -ms-transform: translateY(100px) translateX(100px);
        -webkit-transform: translateY(100px) translateX(100px);
        opacity: 0
    }
    100% {
        transform: translateY(0%) translateX(0%);
        -ms-transform: translateY(0%) translateX(0%);
        -webkit-transform: translateY(0%) translateX(0%);
        opacity: 1
    }
}
@keyframes rightFade {
    0% {
        transform: translateY(100px) translateX(100px);
        -ms-transform: translateY(100px) translateX(100px);
        -webkit-transform: translateY(100px) translateX(100px);
        opacity: 0
    }
    100% {
        transform: translateY(0%) translateX(0%);
        -ms-transform: translateY(0%) translateX(0%);
        -webkit-transform: translateY(0%) translateX(0%);
        opacity: 1
    }
}
@-webkit-keyframes fanRight {
    0% {
        transform: translateX(-4%);
        -ms-transform: translateX(-4%);
        -webkit-transform: translateX(-4%);
        opacity: 0
    }
    100% {
        transform: translateX(0%);
        -ms-transform: translateX(0%);
        -webkit-transform: translateX(0%);
        opacity: 1
    }
}
@-moz-keyframes fanRight {
    0% {
        transform: translateX(-4%);
        -ms-transform: translateX(-4%);
        -webkit-transform: translateX(-4%);
        opacity: 0
    }
    100% {
        transform: translateX(0%);
        -ms-transform: translateX(0%);
        -webkit-transform: translateX(0%);
        opacity: 1
    }
}
@keyframes fanRight {
    0% {
        transform: translateX(-4%);
        -ms-transform: translateX(-4%);
        -webkit-transform: translateX(-4%);
        opacity: 0
    }
    100% {
        transform: translateX(0%);
        -ms-transform: translateX(0%);
        -webkit-transform: translateX(0%);
        opacity: 1
    }
}
@-webkit-keyframes fanMid {
    0% {
        transform: translateX(-7%);
        -ms-transform: translateX(-7%);
        -webkit-transform: translateX(-7%);
        opacity: 0
    }
    100% {
        transform: translateX(0%);
        -ms-transform: translateX(0%);
        -webkit-transform: translateX(0%);
        opacity: 1
    }
}
@-moz-keyframes fanMid {
    0% {
        transform: translateX(-7%);
        -ms-transform: translateX(-7%);
        -webkit-transform: translateX(-7%);
        opacity: 0
    }
    100% {
        transform: translateX(0%);
        -ms-transform: translateX(0%);
        -webkit-transform: translateX(0%);
        opacity: 1
    }
}
@keyframes fanMid {
    0% {
        transform: translateX(-7%);
        -ms-transform: translateX(-7%);
        -webkit-transform: translateX(-7%);
        opacity: 0
    }
    100% {
        transform: translateX(0%);
        -ms-transform: translateX(0%);
        -webkit-transform: translateX(0%);
        opacity: 1
    }
}
@-webkit-keyframes fanLeft {
    0% {
        transform: translateX(-10%);
        -ms-transform: translateX(-10%);
        -webkit-transform: translateX(-10%);
        opacity: 0
    }
    100% {
        transform: translateX(0%);
        -ms-transform: translateX(0%);
        -webkit-transform: translateX(0%);
        opacity: 1
    }
}
@-moz-keyframes fanLeft {
    0% {
        transform: translateX(-10%);
        -ms-transform: translateX(-10%);
        -webkit-transform: translateX(-10%);
        opacity: 0
    }
    100% {
        transform: translateX(0%);
        -ms-transform: translateX(0%);
        -webkit-transform: translateX(0%);
        opacity: 1
    }
}
@keyframes fanLeft {
    0% {
        transform: translateX(-10%);
        -ms-transform: translateX(-10%);
        -webkit-transform: translateX(-10%);
        opacity: 0
    }
    100% {
        transform: translateX(0%);
        -ms-transform: translateX(0%);
        -webkit-transform: translateX(0%);
        opacity: 1
    }
}  
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>
  $(window).scroll(function(event){
    var adventurous = $( ".adventurous" );
    var position1 = adventurous.position();
    console.log(position1);
    
    var bold = $( ".bold" );
    var position2 = bold.position();
    console.log(position2);
    
    var classic = $( ".classic" );
    var position3 = classic.position();   
    console.log(position2);
    
    var st = $(this).scrollTop();
    console.log(st);
    
    if (st > position1.top){
      adventurous.addClass('shown');
    }
    
    if (st > position2.top){
      bold.addClass('shown');
    }
    
    if (st > position3.top){
      classic.addClass('shown');
    }    
  });  
</script>  